<!DOCTYPE html>
{% extends 'banner.html' %}

<html>

    {% block content %}
    <head>
        <style>
            @import url('/static/css/cards-style.css');
        </style>
    </head>
    <br>

<div class="bodyloco">
    <div class="containercard">
        <h5 style="color: white;"> Eventos disponibles</h5>
        <div class ="row">
            {% for i in eventos_disponibles %}
            <div class ="col-md-4 mb-4">
                <div class="card">
                    <div class="box">
                        <div class="content">
                        <img src="{{i.logo.url}}" alt="Card image cap" style="width: 16rem;"> 
                        <div class="card-body">
                            <h5 class="card-title">{{i.nombre_evento}}</h5>
                            <h7 class="card-text">{{i.empresa_organizadora.nombre_empresa}}</h7>
                            <div class="card-text">
                                <a class="btn btn-info btn-sm" href='{{i.get_absolute_url}}'>Ver Más</a>
                                {% if es_admin %}
                                    <a  class="btn btn-danger btn-sm" href='{{i.eliminar_evento}}'>Eliminar</a>
                                    <a class="btn btn-warning btn-sm" href="{{i.modificar_evento}}">Modificar</a>
                                    <p><a href='{{i.subir_foto}}'>Agregar imagen /</a> 
                                    <a href='{{i.eliminar_foto}}'>Eliminar imagen</a></p>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <hr/>
    {% if es_admin %}
        <div class="container">
            <p><a class="btn btn -sm btn-success" href='/events/nuevo'>Agregar nuevo Evento</a></p>
        </div>
    {% endif %}
    {% endblock %}
</html>