<!DOCTYPE html>
{% extends 'banner.html' %}

<html>
    {% block content %}

    <style>
        .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    </style>


        <br>
            <h5> Eventos disponibles</h5>
                <div class="container">
                    <div class="card-deck">
                            {% for i in eventos_disponibles %}
                            <div class="card text-center p-0" style="max-width: 25rem;">
                                <img class="card-img-top" src="{{i.logo.url}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{i.nombre_evento}}</h5>
                                <h7 class="card-text">{{i.empresa_organizadora.nombre_empresa}}</h7>
                                <div class="card-footer">
                                    <p class="card-text"> <a class="btn btn -sm btn-info" href='{{i.get_absolute_url}}'>Ver Más</a> </p>
                                    {% if es_admin %}
                                        <p><a class="btn btn -sm btn-info" href='{{i.subir_foto}}'>Agregar Imagen del Evento</a></p>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
</html>