<!DOCTYPE html>
{% extends 'banner.html' %}
<html>
    {% block content %}
        <br>
        <div class="row">
            <div class="col-md">
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Evento</th>
                            <th>Fecha</th>
                            <th>Empresa Organizadora</th>
                            <th>Costo de Inscripción</th>
                            <th>Descripcion de Seguridad</th>
                            <!--<th>Comenta Acerca del Evento</th>
                            <th>Califica el Evento</th>-->
                        </tr>                        
                        <tr>                               
                            <td>{{event.nombre_evento}}</td>
                            <td>{{event.fecha_evento}}</td>
                            <td>{{event.empresa_organizadora.nombre_empresa}}</td>
                            <td>{{event.costo_inscripcion}}</td>                            
                            <td>{{event.desc_seguridad}}</td>
                            <!--<td><a href="">Comentar</a></td>
                            <td><a href="">Calificar</a></td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% if not vacio%}
            <h4>Imagenes del Evento</h4>
            {% for foto in fotos %}
                <img src="{{foto.imagen.url}}">
            {% endfor %}
        {% endif %}
    {% endblock %}
</html>