<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
<body>
    
<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-success" type="submit">Ingresar</button>
</form>
<hr />

<p><a href="/account/register">Click aquí si no tienes cuenta</a></p>
<p><a href="/account/reset_password">Click aquí si olvidaste tu contraseña</a></p>
{% for message in messages %}
    <p> {{message}} </p>
{% endfor %}
</body>
</html>