{% extends 'runningteams.html' %}
<head>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">-->
</head>
<body>
    {% block content %}
    <div class="container">
        <h4>Búsqueda de Running Teams:</h4>

        <form method="get" action=".">
            <div class="col-sm-5 my-1">
            <div class = "input-group mb-3">
                <input type="text" class="form-control col-xs-4" name="q" id="q" placeholder="Escribe el Runningteam que quieres buscar ...">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-sm-0" type="submit">Buscar</button>
                </div>
            </div> 
            </div>
            <!--<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
            </form>-->
                {% if query %}
                    <br>
                    <h3>Resultados:</h3>
                        <div class="row">
                            {% for i in page.object_list %}
                            <div class ="col-md-5 mb-4">
                                <div class="card text-center p-0">
                                    <img class="card-img-top" src="{{i.object.logo.url}}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ i.nombre_runningteam }}</h5>
                                        <h7 class="card-text">Entrenador</h7>
                                        <p class="card-text"> <a class="btn btn-link" href='{{ i.object.entrenador.comun.ver_biografia }}'>{{i.object.entrenador.comun}}</a></p>
                                        <div class="card-footer">
                                            <p><a href="{{i.object.ver_mas}}" class="btn btn-info btn-sm">Ver más</a></p>
                                            {% if es_trainer %}
                                                {% if user == i.entrenador %}
                                                    <p><a href="{{i.modificar_rt}}" class="btn btn-warning btn-sm">Modificar</a></p>
                                                    <p><a href="{{i.eliminar_rt}}" class="btn btn-danger btn-sm">Eliminar</a></p>
                                                    <hr>
                                                    <a href="{{i.agregar_contenido}}" class="btn btn-outline-success btn-sm">Agregar Contenido</a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <p>No se encontraron Running teams.</p>
                            {% endfor %}
                        </div>         
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% endif %}
        </form>
    </div>
    {% endblock %}
</body>