<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Jaguarun</title>
        <h1>Jaguarun</h1>
</head>
<body>
    <ul>
        <li><a href="/training">Entrenamientos</a></li>
        <li><a href="/events">Eventos</a></li>
        <li><a href="/account/login">Iniciar Sesión</a> / <a href="/account/register">Registrarse</a> / <a href="/account/logout">Cerrar Sesión</a></li>
        <li><a href="/training/mis_entrenamientos/">Mis Entrenamientos</a></li>

    </ul>
    <hr />
    {% block content %}

    {% endblock %}
    
    <hr>
    <hr />

        <ul>
            <li>Acerca de</li>
        </ul>
</body>
</html>