{% extends 'banner.html' %}
{% load embed_video_tags %}
{% load static %}
<html>
    {% block content %}
    <p>Seguro que desea eliminar el siguiente video ?</p>
    {% video item.video 'small' %}
    
    <form action = "{% url 'eliminar_video_youtube' item.id %}" method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <a class="btn btn -sm btn-info" href = "/training/runningteams">Cancelar</a>
        <input  class="btn btn -sm btn-danger" type = "submit" value = "Eliminar Definitivamente" name ="confirmar">
    </form>
    {% endblock %}
</html>