<!DOCTYPE html>
{% extends 'banner.html' %}
<html>
    {% block content %}
    <div class="container">
        <h1>{{entrenamiento}}</h1>
        <strong>
            <br/>
            Categoria: {{entrenamiento.tipo_entrenamiento}}
            Tiempo de carrera estimado: {{entrenamiento.tiempo_estimado}}
            {% if request.user.comun == entrenador %}
                <p> </p>
            {% endif %}
        </strong><br/>
        <hr>
        <br/>
        {% for d in descripciones %}
            <h3> Día numero: {{d.dia}}</h3>
            {{d.detalle | safe}}
            <p></p>
            {% if request.user.comun == entrenador %}
                <a href="{{d.modificar_detalle}}"> Modificar día</a>
            {% endif %}
            <hr>
        {% endfor %}
        <br/><br/>
        <hr>
        <hr>
        <br/>
        {{ total_likes }} Seguidores
        <p></p>
        {% if user.is_authenticated and tipo == "comun" %}
            <form action="{% url 'like_training' entrenamiento.pk %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit", name="entrenamiento_id", value="{{ entrenamiento.id }}", class="btn btn-danger btn-sm">Dejar de Seguir</button>  
                {% else %}
                    <button type="submit", name="entrenamiento_id", value="{{ entrenamiento.id }}", class="btn btn-primary btn-sm">Seguir Entrenamiento</button>
                {% endif%}   
            </form>
        {% else %}
            {% if not user.is_authenticated %}
                <a href="/account/login">Inicia Sesión para poder seguir los eventos que deseas.</a>
            {% endif %}
        {% endif %}
        <!--<h3>Biografía del Entrenador</h3>
        {{entrenador.biografia | safe}}-->  
    </div>      
    {% endblock %}
</html>