<!DOCTYPE html>
{% extends 'banner.html' %}
<html>
    {% block content %}
        <br>
        <h2>Entrenamiento {{entrenamiento.nombre}}</h2>
        <div class="row">
            <div class="col-md">
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Dia</th>
                            <th>Minutos</th>
                            <th>Detalle</th>
                            <!--<th>Comenta Acerca del Evento</th>
                            <th>Califica el Evento</th>-->
                        </tr>                        
                        <tr>                               
                            {% for i in descripciones %}
                            <tr>   
                                <td>{{i.dia}}</td>                  
                                <td>{{i.minutos_de_entrenamiento_por_dia}}</td>
                                <td>{{i.detalle}}</td>
                            </tr>
                            {% endfor %}
                            <!--<td><a href="">Comentar</a></td>
                            <td><a href="">Calificar</a></td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br/> <br/>
        <hr>
        <br/>
        <form action="{% url 'like_training' entrenamiento.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit", name="entrenamiento_id", value="{{ entrenamiento.id }}", class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
            
        </form>
    <!--<a class="btn btn -sm btn-info" href="">Agregar Día de Entrenamiento</a>-->
    {% endblock %}
</html>