{% extends 'banner.html' %}
<html>
    {% block content %}
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h3> Entrenamientos</h3>
                    {% if tipo == "entrenador" %}
                        <p>Bienvenido a mis entrenamientos {{user.first_name}}, aquí podes encontrar tus entrenamientos, puedes agregarles detalles, modificarlos, eliminarlos y crear nuevos entrenamientos</p>
                    {% else %}
                        <p>Bienvenido a mis entrenamientos {{user.first_name}}, estos son los entrenamientos que has seguido</p>
                    {% endif %}
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Autor</th>
                            <th>Duración (Días)</th>
                            <th>Nombre Entrenamiento</th>
                            <th>Ver Más</th>
                            {% if tipo == "entrenador" %}
                                <th>Nuevo Dia</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            {% endif %}
                        </tr>
                        {% for i in entrenamientos_disponibles %}
                            <tr>                     
                                <td>{{i.autor.username}}</td>
                                <td>{{i.duracion_entrenamiento}}</td>
                                <td>{{i.nombre_entrenamiento}}</td>
                                <td><a class="btn btn -sm btn-info" href='{{i.ver_mas_entrenamiento}}'>Ver Más</a></td>
                                {% if tipo == "entrenador" %}
                                    <td><a class="btn btn -sm btn-info" href='{{i.nuevo_dia_entrenamiento}}'>Agregar</a></td>
                                    <td><a class="btn btn -sm btn-info" href="{{i.modificar_entrenamiento}}">Modificar</a></td>
                                    <td><a class="btn btn -sm btn-danger" href="{{i.eliminar_entrenamiento}}">Eliminar</a></td>                                    
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    <p></p>
    {% if tipo == "entrenador" %}
    <a class="btn btn -sm btn-info" href = "/training/nuevo">Cargar Nuevo Entrenamiento</a>
    {% endif %}
    {% endblock %}
</html>