{% extends 'banner.html' %}
<html>
    {% block content %}
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5> Entrenamientos</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Autor</th>
                            <th>Duración (Días)</th>
                            <th>Nombre Entrenamiento</th>
                            <th>Modificar</th>
                            <th>Ver Más</th>
                        </tr>
                        {% for i in entrenamientos_disponibles%}
                            <tr>                     
                                <td>{{i.autor.username}}</td>
                                <td>{{i.duracion_entrenamiento}}</td>
                                <td>{{i.nombre_entrenamiento}}</td>
                                <td><a class="btn btn -sm btn-info" href="">Modificar</a></td>
                                <td><a class="btn btn -sm btn-info" href='{{i.get_absolute_url_entrenamiento}}'>Ver Más</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    <p></p>
    <a href = "/training/nuevo">Cargar Nuevo Entrenamiento</a>
    {% endblock %}
</html>