{% extends 'banner.html' %}
{% load embed_video_tags %}
<style>
    img{width: 30%;}
    body {
        padding-top: 56px;
    }
</style>
<html>
    {% block content %}
    <div class="contains">
        <h3>Running Team: {{runningteam}}</h3>
        <hr>
        <img  src="{{runningteam.logo.url}}"width="300" height="300">
        <h6>Entrenador: {{runningteam.entrenador.comun}}</h6>
        <h6>Localidad: {{runningteam.localidad}}</h6>
        <h6>Dias de entrenamiento: {{runningteam.weekdays}}</h6>
        <h6>Hora Inicio: {{runningteam.hora_inicio}}</h6>
        <h6>Hora Fin: {{runningteam.hora_fin}}</h6>
        <h6>Ubicacion: {{runningteam.ubicacion}}</h6>
        <hr>
        {% if imagenes %}
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for foto in imagenes %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{foto.media.url}}" alt="" width="128" height="428" >
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{{foto.media.url}}" alt="" width="128" height="428" >
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
        {% endif %}
        <hr>
        {% if medias %}
            <h6 class="text-center mt-2 mb-2">Videos de media</h6>
            {% for v in medias %}
                <video class="embed-responsive embed-responsive-4by3" controls="controls">
                    <source src="{{v.media.url}}" type="video/mp4" />
                </video>
            {% endfor %}
        {% endif %}
        <hr>
        {% if videosyt %}
            <h6 class="text-center mt-2 mb-2">Contenido de Youtube</h6>
            {% for v in videosyt %}
                {% video v.video 'small' %}
            {% endfor %}
        {% endif %}
    </div>
    <hr/>
    {% if user == runningteam.entrenador %}
        {% if hay_archivos %}
            <hr/>
            <a href = "{{ runningteam.eliminar_media }}" class="btn btn-danger">Eliminar contenido subido a la página</a>
            <a href= "{{ runningteam.eliminar_youtube }}" class="btn btn-danger">Eliminar contenido de Youtube</a>
        {% endif %}
    {% endif %}
    {% endblock %}