<!DOCTYPE html>
{% extends 'banner.html' %}
<html>
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/full-width-pics.css" rel="stylesheet">

<body>

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url(https://cdn.hipwallpaper.com/i/73/13/wn0R1s.jpg);">
  <div style="height: 600px;"></div>
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Bienvenido a Jaguarun!</h1>
    <p class="lead">Todo lo que precisás saber sobre Running.</p>
    <p class="lead">Jaguarun es una página ideal para el corredor. Aquí podrás consultar tus dudas, ver rutinas, encontrar eventos y mucho más!</p>

  </div>
</section>

<!-- Image element - set the background image for the header in the line below -->
<div class="py-5 bg-image-full" style="background-image: url(https://wallpapercave.com/wp/gb1vaFe.jpg);"> <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 500px;"></div>
</div>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Qué es el running?</h1>
    <p class="lead">El running, footing, correr o jogging, son algunos de los términos más usados en la actualidad para referirse a la carrera continua, el acto por el que alternativamente los pies tocan el suelo a una velocidad mayor que al andar. Esta disciplina, en principio, la puede practicar cualquier persona y se suele realizar al aire libre. En los últimos años ha aumentado considerablemente el número de personas que se ha sumado al running por los beneficios físicos y mentales que aporta al organismo.</p>
    <p></p>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h1>¿Cómo utilizar Jaguarun?</h1>
    <p class="lead">Jaguarun se divide en 4 áreas interesantes: <a href='/events'>Eventos</a>, <a href='/training'>Entrenamientos</a>, <a href='/training/runningteams'> Running Teams</a> y nuestro <a href='/foro/all'>Foro.</a> </p>
    <p class="lead">En Eventos, te mantendremos al día con las carreras que hay actualmente. Podrás ver el estado de las carreras, su costo de inscripción y más datos relevantes. </p>
    <p class="lead">En Entrenamientos, podrás ver rutinas para distintas carreras ya sea Triatlón, Maratones o Biking. Los autores de estos entrenamientos son entrenadores certificados, y autorizados por los administradores de Jaguarun. Si quiere saber más acerca del entrenador, haga click en su usuario. Algunos de nuestros entrenadores tienen grupos de entrenamientos, del cual se puede ver contenido de los mismos en el área de Running Team (como imágenes, videos e información del mismo!)</p>
    <p class="lead">También podés hacer uso del foro, que cuenta con distintas categorías tales como Indumentaria, Carreras y Generales.</p>
    <p class="lead">No olvides registrarte, para poder disfrutar de nuestra página al 100%! Si sos entrenador, <a href='/account/pedidoentrenador'>no dudes en contactarnos</a></p>
  </div>
</section>
</body>
{% endblock %}
</html>