{% extends 'banner.html' %}
<html>
    {% block content %}
        <h1>{{post.titulo}}</h1>
        <small>Por:
            {{post.autor.comun}} -
            {{post.fecha_post}}
            <br/>
            Categoria: {{post.categoria}}
        </small><br/>
        <hr>
        <br/>
        {{post.body | safe}}
        <br/><br/>
        <hr>
        <h4>Comentarios...</h4>
        {% if cantidad == 0%}
            Aún no hay comentarios
            <hr>
        {% else %}        
            {% for i in comentarios%}
                <small>
                    <strong>
                        {{i.autor.comun}} -
                        {{i.fecha_comentario}}
                    </strong>
                </small>
                <br/>
                {{i.body | safe}}
                <hr>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{form.media}}
                    <input class="btn btn -sm btn-success" type="submit" value="Añadir Comentario">
                </form>
            </div>
        {% endif %}
    {% endblock %}