{% extends 'banner.html' %}
<html>
    {% block content %}
    <style>
        .profile-pic{
            max-width: 50px;
            max-height: 50 px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5> Categorias del Foro</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Categoria</th>
                    </tr>
                    {% for i in categorias%}
                        <tr>                     
                            <td>{{i.nombre}}</td>                                
                            <td><a class="btn btn -sm btn-info" href='{{i.ver_mas_categoria}}'>Ver Más</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</html>